body {
justify-items: center;  
}


  

div form {
  width: 400px;
  height: 600px;
  padding: 10px;
  border: 5px solid rgb(184, 15, 43);
  background-color: rgb(117, 2, 17);
  background-image: linear-gradient(to top,rgb(77, 1, 1),rgb(158, 0, 0));
  margin: 0 auto;
}

label{
  color: aliceblue;
  text-shadow: 2px 2px  black;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border: 1px solid  rgb(110, 2, 2);
  
  transition: 0.5s;
  outline: none;
}

input:focus {
  background-color: rgb(255, 191, 191);
}

input::placeholder{
  color: rgb(219, 111, 149);
}


input[type=button] {
  background-color: rgb(172, 14, 48);
  color: aliceblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: rgb(148, 5, 5);
}

textarea {
  border-color: black;
  background-color: rgb(146, 1, 37);
  color: aliceblue;
  margin-top: 15px;
  width: 370px;
  height: 209px;
  resize: none;
}



.confirmacion {
  display: none;
  position: fixed;
  z-index: 6;
  padding: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(185, 15, 95, 0.37);  
}

.confirmacion-contenido {
  color: aliceblue;
background-color: rgb(255, 17, 76);
margin: auto;
padding: 20px;
border: 5px solid rgb(255, 255, 255);
width: 80%;
}

form p {
  color: rgb(255, 255, 255);
  text-decoration: underline rgb(250, 255, 251);
}